{% extends 'general/base.html' %}

{%load static %}

{% block contenido_central  %}

<section id="about">
    <div class="guitar2">				
        <img class="img-responsive" src="{% static 'general/images/guitar2.jpg' %}" alt="guitar">
    </div>
    <div class="about-content">					
                <h2>El Evento</h2>
                <p> Mi nombre es Gabriel Ibañez soy el creador de esta pagina.
                    La misma es para promocionar un concierto de bandas de la ciudad (imaginaria) de San Fermin.
                    Este el proyecto final del curso de Python de CoderHouse en el cual utilicé mis conocimientos adquiridos 
                    en Bootstrap, Python, Django, html y CSS</p>
    </div>
</section>

{% endblock %}

