{% extends 'general/base.html' %}

{%load static %}

{% block contenido_central  %}

<html>
<body>

<div> 
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5952.591083085968!2d-58.78436146145533!3d-27.486942443892552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94456a54c510c595%3A0x65ec4c9a14024838!2sRotonda%20Virgen%20de%20Itat%C3%AD!5e0!3m2!1ses!2sar!4v1681087280766!5m2!1ses!2sar" width="1400" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>	 			

<div class="contact-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-sm-offset-1">
	             <div class="contact-text">
	 	             <h3>Contacto</h3>
	                <address>
			          E-mail: evento@sanfermin.gob.ar<br> 
			          Whatsapp: +54 (03) 4825 7890<br>
			       </address>
		        </div>
	       </div>
			
		   
		        <div class="contact-address">
		           <div class="contact-text">
				   <h3>Dirección Comercial</h3>
			       <address>
			       Avenida 25 de Mayo 2513, torre 11, Oficina 15A <br>
			       San Fermín, Corrientes,Argentina<br>
			       </address>
		        </div>
	    </div>
    </div>
</div>				

</html>
</body>
					
			
{% endblock %}

